#header {
    width: 100%;
    max-height: 100px;
    background-color: lightgrey;
}

#sidebar {
    z-index: 1000;
    float: left;
    height: 100%;
    width: 30%;
    left: 0;
}

#body-container {
    width: 67%;
    float: left;
}

#articlelist {
    overflow-y: scroll;
    max-height: 200px;
}

#article-content {
    height: 80%;
}
